/*
--- GLobal ---------------
*/

body {
  background-color: #ffffff;
  color: #394349;
  font-family: 'Work Sans', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .5px;
  opacity: 1;
  transition: 2s;
  margin-top: 0;
}

body.fade {
  /*margin-top: 80px;*/
  opacity: 0;
  transition: none;
}

h1 {
  font-size: 70px;
  font-weight: 800;
}

h2 {
  font-size: 35px;
}

strong {
  font-weight: 600;
}

p {
  line-height: 1.75;
}

::selection {
  background: rgba(255,177,0,.2);
  opacity: .2;
}

a {
  text-decoration: none;
  color: #394349;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

a:hover {
  opacity: .5;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

a.button {
  padding: 16px 32px;
  background-color: rgba(247, 247, 247, .6);
  color: #0176FF;
  border: 0;
  border-radius: 3px;
  display: block;
  text-align: center;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

a.button:hover {
  background-color: rgba(247, 247, 247, 1);
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

a.inline-link {
  text-decoration: none;
  color: rgba(57, 67, 73, 1);
  border-bottom: 1px solid rgba(57, 67, 73, .25);
}

a.inline-link:hover {
  color: rgba(57, 67, 73, .5);
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.hot-link {
  color: #0176FF;
  cursor: pointer;
}

.hot-link:hover {
  opacity: 1;
  color: rgba(1, 118, 255, .5);
}

.top-border {
  border-top: 6px solid #394349;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.container {
  padding: 250px 30px 0;
}

.primer {
  border-bottom: 1px solid rgba(57, 67, 73, .25);
  color: rgba(57, 67, 73, 1);
  margin-bottom: 30px;
  padding: 0 0 25px 0;
  font-weight: 600;
  letter-spacing: .7;
}

.emoji {
  font-size: 24px;
  position: relative;
  top: 3px;
}

/*
--- Nav ---------------
*/

.nav {
  background-color: #fff;
  width: calc(100% + 80px);
  padding: 20px 0;
  position: -webkit-sticky; /* Safari & IE */
  position: sticky;
  top: 6px;
  z-index: 1000;
}

.nav a {
  margin-right: 25px;
}

.to-top {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/arrow-up-icon.svg);
  background-color: rgba(57, 67, 73, .3);
  border-radius: 2px;
  position: absolute;
  top: 18px;
  right: 0;
  display: none;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.to-top:hover {
  background-color: rgba(57, 67, 73, .5);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.to-top-reveal {
  display: block;
}

.about:before, .works:before, .connect:before {
  content: "";
  display: block;
  height: 100px;
  margin: -100px 0 0;
}

/*
--- Figures ---------------
*/

.figureOne {
  background-image: url(../images/fig-logo.png);
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fafafa;
  width: 50%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 80%;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0;
}

.figureabout {
  background-image: url(../images/fig-me.png);
}

.figurenu {
  background-image: url(../images/fig-nu.jpg);
}

.figuremx {
  background-image: url(../images/fig-mx.jpg);
}

.figurewo {
  background-image: url(../images/fig-wo.jpg);
}

.figuredrib {
  background-image: url(../images/fig-drib.jpg);
}

/*
Figure Captions
.figureOne:after {
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  border-radius: 2px;
  background-color: rgba(57, 67, 73, .3);
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 0;
}

.figurenu:after {
  content: "Numetric's Network Screening app";
}

.figuremx:after {
  content: "MX's Spending app";
}

.figurewo:after {
  content: "We're Official - Save the Date website";
}

.figuredrib:after {
  content: "Enjoy dem pixels.";
}*/

/*
--- Name Header ---------------
*/

.headline {
  padding: 0;
  margin-left: -5px;
}

.strike {
  position: relative;
  color: rgba(57, 67, 73, .25);
  display: inline;
}

.strike:after {
  border-bottom: 4px solid rgba(57, 67, 73, .25);
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 50%;
}

/*
--- About ---------------
*/

.about {
  padding: 200px 0 250px;
}

.about p {
  margin-top: 35px;
}
/*
--- Work ---------------
*/

.works {
  padding: 0 0 200px;
}

.work {
  padding: 80px 0;
  position: relative;
  z-index: 50;
  cursor: default;
}

.work .hot-link {
  padding-right: 20px;
  background-color: #ffffff;
  position: relative;
  z-index: 50;
}

.work:last-child {
  padding: 80px 0 0;
}

.work h2 {
  margin: 0 0 20px;
}

.work .current {
  color: #FFB100;
}

.work .company-intro {
  max-width: 93%;
}

.pointer {
  display: block;
  position: relative;
}

.pointer:after {
  content: "";
  width: calc(100% + 120px);
  height: 1px;
  background-color: #0176FF;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 0;
  opacity: 0;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.work:hover > .pointer:after {
  opacity: 1;
}

/*
For Case Studies that are coming soon...

#numetric .hot-link {
  color: rgba(57, 67, 73, .5);
  cursor: default;
  font-style: italic;
}*/

/*#numetric .pointer:after {
  background-color: rgba(57, 67, 73, .25);
}*/

/*
--- Connect ---------------
*/

.connect {
  padding: 0 0 200px;
  position: relative;
}

.connect .words {
  max-width: 93%; 
}

.connect .links {
  margin: 60px 0 100px;
}

.connect a {
  display: block;
  margin-bottom: 30px;
}

.social-icons a {
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 30px;
}

.dribbble-icon {
  background-image: url(../images/dribbble-icon.svg);
}

.twitter-icon {
  background-image: url(../images/twitter-icon.svg);
}

.linkedin-icon {
  background-image: url(../images/linkedin-icon.svg);
}

.facebook-icon {
  background-image: url(../images/facebook-icon.svg);
}

.spotify-icon {
  background-image: url(../images/spotify-icon.svg);
}

/*
--- Connect ---------------
*/

.copyright {
  color: rgba(57, 67, 73, .5);
  margin-bottom: 40px;
}

/*
------ Viewports ------
*/

@media (min-width: 1000px) {

  .container {
    padding: 250px 80px 0;
    max-width: calc(50% - 160px);
  }

  .figureOne {
    opacity: 1;
  }

  .to-top {
    top: 18px;
    left: -52px;
  }

  .social-icons a {
    margin-right: 40px;
  }

  .pointer:after {
    width: calc(100% + 100px);
  }

}

@media (min-width: 1200px) {
  .pointer:after {
    width: calc(100% + 120px);
  }
  #wereofficial.work h2 {
    max-width: 480px;
  }
}

@media (max-width: 999px) {

  .nav {
    width: 100%;
  }

  .work:hover > .pointer:after {
    opacity: 0;
  }

  #figureOne {
    display: none;
  }

}

@media (max-width: 700px) {

  body {
    font-size: 15px;
  }

  .container {
    padding: 150px 30px 0;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 25px;
  }

  .pointer:after {
    width: 100%;
  }

  .about {
    margin-top: 60px;
  }

}

@media (max-width: 320px) {

  .nav a {
    font-size: 12px;
    margin-left: 10px;
  }

}