.container {
  top: 0;
}

h1 {
  top: -10px;
  left: -3px;
}

h2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  position: relative;
  top: -15px;
  letter-spacing: 1px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.buttons a {
  padding: 10px 20px;
  width: auto;
}

.title-helper {
  color: #959CA6;
  text-align: center;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #C7CCD2;
  margin-bottom: 120px;
}

.vert-name {
  position: fixed;
  top: 500px;
  left: -90px;
  z-index: 50;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.hey-google {
  position: relative;
  top: 30px;
  left: 50px;
  max-width: 120px;
}

.welcome-google:after {
  content: "";
  width: 97px;
  height: 32px;
  position: absolute;
  top: 25px;
  left: 0;
  background-position: 50% 50%;
  background-size: 100%;
  background-image: url("../images/google-logo.svg");
}

.header {
  max-width: 912px;
  margin: 0 auto;
  margin-bottom: 150px;
}

.header-helper {
  color: #959CA6;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header .text {
  position: relative;
  z-index: 100;
  margin-top: 157px;
}

.header-image {
  width: 575px;
  height: 390px;
  float: left;
  position: relative;
  left: -212px;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  background-image: url("../images/lifestyle-spending.png");
}

.my-role {
  border: 1px solid #C7CCD2;
  max-width: 550px;
  padding: 135px 100px 65px;
  margin: 0 auto 150px auto;
  text-align: center;
}

.my-role .title-helper {
  margin: -150px auto 14px;
  background-color: #ffffff;
  max-width: 200px;
  text-align: center;
}

.my-role p {
  text-align: left;
}

.case {
  margin: 0 auto 150px auto;
  max-width: 600px;
}

.case-image {
  margin-bottom: 150px;
  text-align: center;
}

.case-image img {
  width: 100%;
  border: 1px solid #C7CCD2;
}

.case-image.ui-examples img {
  border: 0;
}

.image-caption {
  color: #959CA6;
  margin-top: 0;
}

.accomplishments {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 150px;
  background: -moz-linear-gradient(top, #ffffff 70%, #fdfdfd 100%); 
  background: -webkit-linear-gradient(top, #ffffff 70%,#fdfdfd 100%);
  background: linear-gradient(to bottom, #ffffff 70%,#fdfdfd 100%);
  border-bottom: 1px solid #DFE3E8;
}

.accomplishments .container {
  padding-top: 0;
}

.accomplishments .intro {
  margin-bottom: 50px;
}

.accomplishment {
  width: 100%;
  height: 180px;
  border: 1px solid #C7CCD2;
  border-radius: 4px;
  position: relative;
  margin-bottom: 50px;
  /*-webkit-box-shadow: 0px 3px 20px 0px rgba(47,54,67,0.03);
  -moz-box-shadow: 0px 3px 20px 0px rgba(47,54,67,0.03);
  box-shadow: 0px 3px 20px 0px rgba(47,54,67,0.03);*/
  padding-top: 70px;
  background-color: #ffffff;
}

.accomplishment p {
  position: absolute;
  bottom: 15px;
  padding: 0 40px;
  text-align: left;
}

.accomlogos {
  max-width: 200px;
}

.accomplishments .accomlogos.number {
  position: relative;
  top: 5px;
  max-width: 100px;
}

.accomplishments .accomlogos.rating {
  position: relative;
  top: 10px;
  max-width: 160px;
}

.accomplishments .accomlogos.mm {
  max-width: 130px;
}

.accomplishments .accomlogos.finb {
  position: relative;
  top: 20px;
}

.mx-works {
  margin: 100px auto 150px auto;
}

.mx-work {
  width: 100%;
  height: 200px;
  float: left;
  position: relative;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  border: 1px solid #C7CCD2;
  margin-bottom: 50px;
  border-radius: 4px;
  transition: all .2s ease-in-out;
}

.mx-works .mx-work:hover {
  background-size: 105%;
  transition: all .2s ease-in-out;
}

.mx-work.first {
  background-image: url("../images/mx-work1.gif");
}

.mx-work.second {
  background-image: url("../images/mx-work2.png");
}

.mx-work.third {
  background-image: url("../images/mx-work3.jpg");
}

.mx-work.fourth {
  background-image: url("../images/mx-work4.gif");
}

.mx-work.fifth {
  background-image: url("../images/mx-work5.gif");
}

.mx-work.sixth {
  background-image: url("../images/mx-work6.png");
}

.case.feedback-footer {
  border: 1px solid #C7CCD2;
  max-width: 100%;
  text-align: center;
  padding: 100px 0;
  margin: 0 20px 20px;
  position: relative;
  z-index: 0;
}

.case.feedback-footer .buttons a {
  background-color: #4678B8;
  color: #ffffff;
}

.case.feedback-footer .buttons a:hover {
  background-color: #417DC9;
}

.case.feedback-footer p {
  margin-bottom: 35px;
}

.copyright {
  position: absolute;
  bottom: -22px;
  right: 20px;
  color: #959CA6;
}

@media (max-width: 600px) {
  .vert-name {
    display: none;
  }
  .my-role {
    padding: 135px 40px 40px;
    margin: 0 auto 110px auto;
    position: relative;
    top: 40px;
  }
  .hey-google {
    left: 30px;
  }
  .header-image {
    width: 140%;
    left: -20%;
  }
  .case {
    margin: 0 auto 60px auto;
  }
  .case-image {
    margin-bottom: 60px;
  }
  .divider {
    margin-bottom: 60px;
  }
  .mx-works {
    margin: 100px auto 60px auto;
  }
  .header {
    margin-bottom: 0;
  }
  .header .text {
    margin-top: 100px;
  }
}

@media (min-width: 700px) {

}

@media (min-width: 800px) {


}

@media (min-width: 700px) and (max-width: 1099px) {

}

@media (min-width: 1100px) {
  .words {
    top: 100px;
  }
}

@media (min-width: 1200px) {
  


}
