/*
--- Case Study Cards ---------------
*/

.case-study-card {
  min-height: 420px;
  width: 100%;
  background-color: #fafafa;
  margin-bottom: 30px;
  border-radius: 2px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.case-study-card.active p {
  color: #0176FF;
  /*background-color: #fff;
  border-radius: 2px;
  max-width: 180px;
  padding: 4px;
  margin: -12px auto 0;
  box-shadow: 0px 0px 60px rgba(57,67,73,.4);*/
}

.bg-image {
  background-image: url(../images/nu-example1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% -10%;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 2px;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  transition: .6s;
}

.color-overlay {
  background-color: rgba(57,67,73,.3);
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 2px;
  z-index: 1;
}

.bg-image.two {
  background-image: url(../images/nu-example2.png);
}

.bg-image.three {
  background-image: url(../images/nu-example3.png);
}

.card-content {
  z-index: 2;
  position: relative;
  transition: .6s;
  /*text-shadow: 0px 0px 60px rgba(57,67,73,.4);*/
}

.case-study-card p {
  margin-top: -18px;
  opacity: .8;
}


/*
--- Global ---------------
*/

.verticalName {
  position: absolute;
  top: 120px;
  right: -65px;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  letter-spacing: 1px;
  z-index: 2000;
}

.colorChange {
  background: red;
}

.container {
  padding: 100px 30px 0;
  margin: 0 auto;
  max-width: 1100px;
}

.nav {
  top: 0;
  width: 100%;
}

.top-area {
  padding: 20px 0;
}

.top-area h1 {
  padding-bottom: 20px;
}

.to-top {
  right: 0;
}

.preface {
  padding: 100px 0;
}

.outcomes {
  border-top: 1px solid rgba(57, 67, 73, .25);
  margin-top: 40px;
  padding: 30px 0;
}

.work {
  padding: 0 0 100px;
}

.examples {
  flex-wrap: wrap;
  display: flex;
}

.example {
  min-height: 310px;
  width: 100%;
  background-color: rgba(247, 247, 247, .6);
  border-radius: 4px;
  margin-bottom: 30px;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
  opacity: 0;
  top: 30px;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.fadeIn {
  top: 0;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  opacity: 1;
}

.mx .example.one {
  background-image: url(../images/mx-example1.png);
}

.mx .example.two {
  background-image: url(../images/mx-example2.png);
}

.mx .example.three {
  background-image: url(../images/mx-example3.png);
  background-size: 95%;
}

.mx .example.four {
  background-image: url(../images/mx-example4.png);
}

.mx .example.five {
  background-image: url(../images/mx-example5.png);
}

.mx .example.six {
  background-image: url(../images/mx-example6.png);
}

.mx .example.seven {
  background-image: url(../images/mx-example7.png);
}

.mx .example.eight {
  background-image: url(../images/mx-example8.png);
}

.mx .example.nine {
  background-image: url(../images/mx-example9.png);
}

.mx .example.ten {
  background-image: url(../images/mx-example10.png);
}

.mx .example.eleven {
  background-image: url(../images/mx-example11.png);
  background-size: 95%;
}

.mx .example.twelve {
  background-image: url(../images/mx-example12.png);
  background-size: 95%;
}

.mx .example.thirteen {
  background-image: url(../images/mx-example13.png);
  background-size: 95%;
}

.mx .example.fourteen {
  background-image: url(../images/mx-example14.png);
}

.mx .example.fifteen {
  background-image: url(../images/mx-example15.png);
}

.mx .example.sixteen {
  background-image: url(../images/mx-example16.png);
}

.mx .example.seventeen {
  background-image: url(../images/mx-example17.png);
}

.mx .example.eighteen {
  background-image: url(../images/mx-example18.png);
}

.mx .example.nineteen {
  background-image: url(../images/mx-example19.png);
}

.mx .example.twenty {
  background-image: url(../images/mx-example20.png);
  background-size: 95%;
}

.mx .example.twenty-one {
  background-image: url(../images/mx-example21.png);
  background-size: 95%;
}

.mx .example.twenty-two {
  background-image: url(../images/mx-example22.png);
  background-size: 95%;
}

.caption {
  position: absolute;
  right: 12px;
  bottom: 0;
  font-size: 13px;
  opacity: .5;
  background-color: rgba(247, 247, 247, .3);
  padding: 2px 8px;
  border-radius: 4px;
}

.footer {
  margin-top: 100px;
  height: 548px;
}


/*
------ Viewports ------
*/

@media (min-width: 400px) {

  .example {
    min-height: 450px;
  }

}

@media (max-width: 700px) {

  h1 {
    font-size: 45px;
    max-width: 320px;
  }

  .example {
    opacity: 1;
    top: 0;
  }

  .preface {
    padding: 45px 0;
  }

  .card-content {
    max-width: 220px;
  }

}

@media (min-width: 700px) {

  .container {
    padding: 100px 80px 0;
  }

  .verticalName {
    top: 140px;
    right: -52px;
  }

  .company-intro {
    flex-wrap: wrap;
    display: flex;
  }

  .ci-side {
    width: 40%;
    padding: 0 10% 0 0;
  }

  .halfer {
    width: calc(50% - 15px);
  }

  .halfer.first {
    margin-right: 30px;
  }

  .example {
    min-height: 700px;
  }

}

@media (min-width: 1350px) {

  .verticalName {
    position: fixed;
  }

  .case-study-card:hover .bg-image {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    background-position: 0% -35%;
    transition: .3s;
  }

  .case-study-card:hover .card-content {
    margin-top: -260px;
    transition: .3s;
    color: rgba(57,67,73,.8);
  }

  .case-study-card:hover .color-overlay {
    background-color: rgba(57,67,73,0);
    transition: .3s;
    z-index: 1;
  }

}