h1 {
	font-size: 30px;
	letter-spacing: 2px;
}

h2 {
	font-weight: 600;
}

.contact {
	padding-top: 10px;
}

.strong-link {
	text-decoration: underline;
}

@media (max-width: 600px) {
  body {
    /*cursor: pointer;*/
  }