body {
  font-family: 'Inconsolata', monospace;
  background-color: #ffffff;
  color: #2F363E;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: .25px;
}

h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 50px;
  position: relative;
  top: -35px;
  left: -3px;
  letter-spacing: 3px;
  font-family: 'Oswald', sans-serif;
}

a {
  color: #2f363e;
  text-decoration: none;
}

a:hover {
  color: #4678B8;
  transition-duration: 0.3s;
}

.container {
  max-width: calc(100% - 60px);
  padding-top: 30px;
}

.face {
  background-color: #EAEAEA;
  height: 250px;
  width: 100%;
  float: left;
  position: relative;
  background-repeat: no-repeat;
  background-position: 20% 50%;
  background-size: 150%;
  background-image: url("../images/cort-mcginty.png");
}

.hey p {
  position: relative;
  top: -30px;
}

.hey .home-link {
  text-decoration: underline;
}

.buttons {
  position: relative;
  top: -20px;
}

.buttons a {
  text-decoration: none;
  padding: 10px 14px;
  margin-bottom: 10px;
  border: 1px solid rgba(104,119,136,.2);
  text-transform: uppercase;
  color: #4678B8;
  width: calc(100% - 30px);
  display: inline-block;
  border-radius: 1px;
  text-align: center;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 700;
}

.connect {
  text-align: center;
  padding-top: 40px;
}

.connect p {
  color: #959ca6;
  letter-spacing: 1px;
}

.connect ul {
  margin-left: -20px;
}

.connect ul li {
  list-style: none;
  display: inline-block;
  padding: 5px;
  margin-left: 20px;
  font-size: 25px;
}

.resume .row.resume-header {
  border-bottom: 1px solid rgba(104,119,136,.2);
  padding-bottom: 5px;
  margin-bottom: 30px;
}

.resume .back {
  position: relative;
  top: -10px;
  display: none;
}

.resume .download {
  text-align: right;
  display: none;
}

.resume h1 {
  top: 25px;
}

.resume h2 {
  font-size: 27px;
  letter-spacing: 3px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  margin-bottom: -15px;
  padding-top: 20px;
}

.resume .place {
  text-align: left;
}

.resume a .place-name {
  text-decoration: underline;
}

.resume .place-name, .place-title {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: -5px;
}

.place-date {
  margin-bottom: 0;
  color: #687788;
}

.resume .row {
  padding: 20px 0 25px;
}

.resume .accolades {
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 100px;
}

.resume .accolades .accolade-co {
  color: #687788;
  font-weight: normal;
  display: block;
  font-size: 14px;
}

@media (min-width: 600px) {
  .face {
    height: 400px;
  }
  .resume .download {
    display: block;
  }
  .resume .place {
    text-align: right;
  }
}

@media (min-width: 700px) {
  .container {
    width: 80%
  }
}

@media (min-width: 800px) {

  .face {
    height: 400px;
  }

  .buttons a {
    display: inline;
    padding: 10px 50px;
  }

  .resume .back {
    top: -20px;
  }

}

@media (min-width: 700px) and (max-width: 1099px) {
  .face {
    background-size: 120%;
    background-position: 30% 50%;
  }
}

@media (min-width: 1100px) {
  
  .face {
    height: 400px;
    width: 50%;
    background-position: 53% 100%;
  }

  .words {
    position: relative;
    top: 157px;
    left: -42px;
  }

  .connect {
    position: relative;
    top: 200px;
  }

  .resume .accolades .accolade-co {
    display: inline;
  }

}

@media (min-width: 1200px) {
  
  .container {
    max-width: 1040px;
  }

}
