body {
  font-family: 'Inconsolata', monospace;
  background-color: #ffffff;
  padding: 30px;
  color: #222222;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: #222222;
  font-weight: bold;
}

a:hover {
  color: #4B86D9;
}

ul {
  list-style: none;
}

ul.links li {
  display: inline-block;
  padding: 5px;
  margin-left: 30px;
  font-size: 35px;
}

ul.links li:first-child {
  margin-left: -4px;
}

.pages {
  font-size: 20px;
  text-align: right;
}

.header-pic {
  background-color: #EAEAEA;
  /*height: calc(100vh - 60px);*/
  height: 400px;
  width: 55%;
  float: left;
  position: relative;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 110%;
  position: relative;
  background-image: url("../images/cort-mcginty.png");
  /*-webkit-filter: grayscale(100%);
  filter: grayscale(100%);*/
}

.header-name {
  width: 35%;
  float: left;
  margin-left: 5%;
  /*height: calc(100vh - 60px);*/
  height: 400px;
  position: relative;
  left: -9%;
}

.name {
  padding-top: 70px;
}

.about {
  width: 55%;
  position: relative;
  top: 20px;
}

.links {
  position: relative;
  z-index: 50;
}

.pages {
  position: absolute;
  right: 0;
  transform: rotate(90deg);
  letter-spacing: .5px;
}

.separator {
  background: #FFFFFF;
  border: 1px solid #E3E6E7;
  width: 50px;
  margin-bottom: 25px;
}

.left-side {
  background-color: #fafafa;
}

/*EXPERIENCE*/

.back {
  position: relative;
  top: 10px;
  color: #4B86D9;
}

.exp .row {
  border-top: 1px solid #222222;
  padding: 50px 0 25px;
}

.exp .row:first-child {
  border: none;
}

/*.exp .row:last-child {
  border-bottom: 1px solid #222222;
}*/

.exp.wrapper {
  max-width: 800px;
}

.accolades h1 {
  padding-top: 50px;
}

.accolades .row {
  padding: 25px 0 0;
}



@media (max-width: 1032px) {

  ul.links li {
    margin-left: 14px;
  }

  .header-pic {
    background-size: 160%;
    background-position: 50% 100%;
  }

}

@media (max-width: 850px) {

  body {
    padding: 30px;
  }

  .header-pic {
    height: 250px;
    width: 100%;
    background-size: 130%;
  }

  .header-name {
    float: none;
    margin-left: 0;
    left: 0;
    width: 100%;
    top: -38px;
  }

  ul.links li {
    font-size: 30px;
    margin-left: 10px;
  }

  .about {
    width: 100%;
    margin-top: 50px;
  }

  .pages {
    display: none;
  }

}

@media (min-width: 480px) and (max-width: 850px) {

  .header-pic {
    background-position: 100% 50%;
    background-size: 100%;
  }

}