body {
  font-family: 'Inconsolata', monospace;
  background-color: #ffffff;
  color: #222222;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: .25px;
}

h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 50px;
  position: relative;
  top: -35px;
  left: -3px;
  letter-spacing: 3px;
  font-family: 'Oswald', sans-serif;
}

a {
  color: #222222;
  text-decoration: none;
}

a:hover {
  color: #4678B8;
}

.container {
  max-width: calc(100% - 60px);
  padding-top: 30px;
}

.face {
  background-color: #EAEAEA;
  /*height: calc(100vh - 300px);*/
  height: 250px;
  width: 100%;
  float: left;
  position: relative;
  background-repeat: no-repeat;
  background-position: 30% 30%;
  background-size: 150%;
  position: relative;
  background-image: url("../images/cort-mcginty.png");
}

.hey p {
  position: relative;
  top: -30px;
}

.buttons {
  position: relative;
  top: -20px;
}

.buttons a {
  text-decoration: none;
  padding: 10px 14px;
  margin-bottom: 10px;
  border: 1px solid #B4C6CD;
  text-transform: uppercase;
  color: #4678B8;
  width: calc(100% - 30px);
  display: inline-block;
  border-radius: 1px;
  text-align: center;
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: 700;
}

.buttons a:hover {
  color: #222222;
}

.connect {
  text-align: center;
  padding-top: 40px;
}

.connect p {
  color: #88979D;
  letter-spacing: 1px;
}

.connect ul {
  margin-left: -20px;
}

.connect ul li {
  list-style: none;
  display: inline-block;
  padding: 5px;
  margin-left: 20px;
  font-size: 25px;
}

.resume h1 {
  top: 0;
}

.resume .row {
  border-top: 1px solid #222222;
  padding: 50px 0 25px;
}

.resume .row:first-child {
  border: none;
}

.exp.wrapper {
  max-width: 800px;
}

@media (min-width: 700px) {
  .container {
    width: 80%
  }
}

@media (min-width: 800px) {

  .face {
    height: 400px;
  }

  .buttons a {
    display: inline;
    padding: 10px 50px;
  }

}

@media (min-width: 700px) and (max-width: 1100px) {
  .face {
    background-size: 120%;
  }
}

@media (min-width: 1100px) {
  
  .face {
    height: 400px;
    width: 50%;
    background-position: 53% 100%;
  }

  .words {
    position: relative;
    top: 157px;
    left: -42px;
  }

  .connect {
    position: relative;
    top: 200px;
  }

}

@media (min-width: 1200px) {
  
  .container {
    max-width: 1040px;
  }

}
